<h3>click below to ask a new question</h3>
{{#if addQuestion}}
<div class="col-sm-8">
  <form>
    <div class="form-group">
      <label for="author">Your name</label>
        {{input value=author id="author"}}
    </div>

    <div class="form-group">
        <label for="title">Title</label>
        {{input value=title id="title"}}
      </div>

      <div class="form-group">
        <label for="content">Question Details</label>
        {{input value=content id="content"}}
      </div>

      <button class="btn btn-primary" {{action 'save1'}}>Save</button>
  </form>
</div>
{{else}}
<button class="btn btn-primary"  {{action 'showQuestionForm'}}>Ask a Question</button>
{{/if}}
